@import url('https://fonts.googleapis.com/css2?family=Inter&family=JetBrains+Mono&display=swap');

:root{
    --font-family: "Inter";
    --font-color: #fff;
    --font-size: 14px;
    --body-text-line-height: 1.5;

    --primary-color: #5254D9;
}
body{
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: var(--font-size);
}