.link{
    color: var(--font-color);
    text-decoration: none;
    font-style: italic;
    border-bottom: 1px solid #ffffff77;
    transition: border-bottom-color .1s ease;
}
.link:hover{
    cursor: pointer;
    border-color: #ffffff var(--blue);
}

.outwardLink::after{
    content: "↗";
    line-height: .4em;
    margin-left: 2px;
    font-size: 14px;
    font-family: "IBM Plex Mono", monospace !important;
}

.innerLink::after{
    content: "→";
    line-height: .4em;
    margin-left: 2px;
    font-size: 14px;
    font-family: "IBM Plex Mono", monospace !important;
}
